body {
  font-size: 79%;
  .chat-header {
    display: inline;
    .header-left {
      display: inline-block;
    }

    .header-middle {
      display: inline-block;
    }

    .header-right {
      display: inline-block;
    }
  }

}
